<ion-content>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Buscando más viajes…">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Viaje 1</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, temporibus. Ex, eos assumenda! Repellendus, dolores.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dicta officiis nulla quidem ea facilis.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur repudiandae earum dignissimos perspiciatis ea?
        </ion-card-content>
      </ion-card>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>