<ion-content>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Buscando más viajes…">
      <ion-card *ngFor="let v of viajes" >
        <ion-card-header>
          <img src="../../../assets/images/duocauto-removebg-preview.png" alt="autoDuoc">
        </ion-card-header>
      
        <ion-card-content>
          <ion-label>Destino</ion-label>
          <h4 class="destino">{{v.destino}}</h4>
          <ion-label>Asientos</ion-label>
          <h4 class="asientos">{{v.asiento}}</h4>
          <ion-label>Precio</ion-label>
          <h4 class="valor">{{v.valor}}</h4>
          <ion-button (click)="verRuta()">Tomar Viaje</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>