<ion-header>
  <ion-toolbar>
    <img src="../../../assets/images/logo2.png" alt="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Iniciar Sesion</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="validarJson()">Ingresar</ion-button>
          <ion-button expand="full" (click)="siguiente2()">Recuperar contraseña</ion-button>
          <ion-button expand="full" color="light" (click)="notfound()">Probar not found</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
