<ion-header>
  <ion-toolbar>
    <ion-button color="danger" slot="start" (click)="cerrar()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <img src="../../../assets/images/logo2.png" alt="">
    <ion-button slot="end" color="danger" (click)="salir()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label id="welcomeuser">Bienvenido/a {{user.usuario}}</ion-label>

</ion-item>
<ion-toolbar>
  <ion-segment value="uno" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="uno" (click)="an2()" #person>
      <ion-label>Pasajero</ion-label>
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="dos" (click)="an1()" #car>
      <ion-label>Conductor</ion-label>
      <ion-icon name="car-sport-outline" ></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>
