<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label id="welcomeuser">Bienvenido/a {{user.usuario}}</ion-label>
</ion-item>
<ion-toolbar>
  <ion-segment value="uno" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="uno" (click)="an2()" #person>
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="dos" (click)="an1()" #car>
      <ion-icon name="car-sport-outline" ></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  
    <ion-router-outlet></ion-router-outlet>
</ion-content>
