<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-title>Iniciar Sesion</ion-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="floating">Asientos:</ion-label>
          <ion-input type="text" [(ngModel)]="viaje.asiento"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Destino:</ion-label>
          <ion-input type="text" [(ngModel)]="viaje.destino"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Precio:</ion-label>
            <ion-input type="text" [(ngModel)]="viaje.valor"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="crearNuevoViaje()">Crear viaje</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
  </ion-content>