<ion-header>
  <ion-toolbar>
    <img src="../../../assets/images/logo2.png" alt="">
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="datoRecu"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light"(click)="siguiente3()" (click)="presentAlert()">Recuperar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
</ion-content>