<ion-header>
  <ion-toolbar>
    <img src="../../../assets/images/logo2.png" alt="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <form id="form" (submit)="sendEmail($event)">
        <div class="field">
          <ion-label position="floating" for="user">Usuario</ion-label>
        <ion-item lines="full">
          <ion-input type="text" name="user" id="user" [(ngModel)]="user.usuario"></ion-input>
        </ion-item>
        </div>
        <ion-button expand="block" color="dark" type="submit" id="button" >Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>